.foodCard {
  overflow: hidden;
  background-color: #172030;
  border: 1px solid #42484d;
  border-bottom: none;
  // border-left: none;
  border-radius: 20px 20px 0 0;
  color: #ffffff;
  padding: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
  animation: slideUp 500ms ease forwards;
  max-height: 300px;

  .header {
    margin-bottom: 10px;
    display: flex;
    position: relative;

    span {
      color: #ffffff4f;
      position: absolute;
      right: 0;
      transform: translateY(-5px);
      cursor: pointer;
      &:hover {
        color: #dd2e44;
      }
    }

    .foodName {
      font-size: 1.2em;
      font-weight: 600;
      align-items: center;
      display: flex;
    }
  }

  .nutrientTagsContainer {
    display: flex;
    margin-bottom: 10px;
    border: 1px solid #42484d;

    border-radius: 5px;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.8rem;
      text-align: center;
      color: #ffffff;
      font-weight: 600;
      border: 1px solid #42484d;
      padding: 5px;
      border: none;
      width: 100%;
      border-right: 1px solid #42484d;
    }

    .lipid {
      border-right: none;
    }
  }

  .controls {
    align-items: center;
    display: flex;
    gap: 10px;
    flex-direction: column;
    button {
      cursor: pointer;
      width: 100%;
      padding: 10px;
      border: none;
      background-color: #5c913b;
      color: #fff;
      font-weight: 600;

      border-radius: 5px;

      &:hover {
        background-color: #4a7a2e;
      }
    }
    input {
      position: relative;
      background-color: transparent;
      color: #ffffff;
      border: 1px dashed #ffffff75;
      text-align: center;
      padding: 10px;
      width: 100%;
      font-size: 0.9rem;

      border-radius: 5px;
      &::placeholder {
        color: #ffffff9d;
      }
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      /* Firefox */
      &[type='number'] {
        appearance: textfield;
        -moz-appearance: textfield;
      }
    }
    .dateInput::-webkit-calendar-picker-indicator {
      cursor: pointer;
      filter: invert(100%);
      position: absolute;
      width: 100%;
    }

    .dateMealInputWrapper {
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 10px;

      select {
        width: 100%;
        background-color: transparent;
        color: #f8eaea;
        border: 1px dashed #ffffff75;
        text-align: center;
        padding: 10px;
        width: 100%;
        font: 0.9rem;

        border-radius: 5px;
        option {
          background-color: #111722;
          color: #f8eaea;
        }
      }
    }
  }
}

.isFoodCardClosingnimation {
  animation: slideDown 500ms ease forwards;
}

@keyframes slideDown {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(100%);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@media (max-width: 1200px) {
  .foodCard {
    span {
      font-size: 0.5rem;
    }
    .controls {
      button {
        font-size: 0.5rem;
      }
      input {
        font-size: 0.5rem;
      }
    }
  }
}

.missingQuantityShakeAnimation {
  animation: missingQuantityShakeAnimation 500ms ease forwards;
  border-color: #dd2e44 !important;
  transition: border-color 200ms ease;

  &::placeholder {
    color: #dd2e44 !important;
    transition: color 200ms ease;
  }
}

@keyframes missingQuantityShakeAnimation {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
