.wrapper {
  border-bottom: 1px solid #42484d;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  color: white;

  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }
  p {
    color: #b3b3b3;

    .consumedCalories {
      color: #5c913b;
      font-weight: 600;
    }
  }
}
