.card {
  color: white;
  border: solid 1px #fff;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 5px 5px #0000006b;
  background-color: #111722;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: solid 1px #ffffff53;
  }

  .foodList {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    .wrapper {
      font-size: 0.7rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .foodName {
        display: flex;
        width: 100%;
        margin-left: 10px;
      }

      .inputWrapper {
        gap: 1px;
        display: flex;
        width: 50px;
      }

      .inputValue {
        background-color: transparent;
        border: solid 1px #cccccc7a;
        border-radius: 5px;
        text-align: center;
        width: 40px;
        color: white;
      }
    }
    .inputValue::-webkit-inner-spin-button,
    .inputValue::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    .fixedUnit {
      display: flex;
      align-items: center;
    }
  }
  .titleInput {
    background-color: transparent;
    border: solid 1px #cccccc7a;
    border-radius: 5px;
    color: white;
    padding-left: 5px;
  }
}

.removeFood {
  padding-right: 5px;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: 700;
  justify-content: end;
  margin-right: 2px;
  transition: color 0.3s ease;

  &:hover {
    color: #dd2e44;
  }
}

.totalMacrosKcal {
  font-size: 0.7rem;
  border-top: solid 1px #ffffff53;

  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  .totalMacros {
    display: flex;
    width: 100%;
  }
}

.nutrientTagsContainer {
  margin-top: 5px;
  width: 100%;
  display: flex;
  margin-bottom: 10px;
  border: 1px solid #42484d;
  border-radius: 5px;

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    text-align: center;
    color: #ffffff;
    border: 1px solid #42484d;
    padding: 5px;
    border: none;
    width: 100%;
    border-right: 1px solid #42484d;
  }

  .kcal {
    border-right: none;
  }
}
