.wrapper {
  display: grid;
  grid-template-columns: 350px 1fr;
  position: absolute;
  height: 100%;
  width: 100%;

  .searchArea {
    display: flex;
    flex-direction: column;
    grid-template-rows: auto;

    background-color: #111722;
    color: white;
    h2 {
      text-align: center;
      margin-top: 50px;
    }
  }

  .sidePanel {
    display: flex;
    overflow: hidden;
  }
}
.currentFoodDisplayArea {
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
  display: flex;
  flex-grow: 1;
  height: 50%;
}

.searchBarWrapper {
  height: 50%;
}

.alertsWrapper {
  background-color: transparent;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;

  .messageBoxIn {
    padding: 10px;
    text-align: center;
    display: flex;
    background-color: transparent;
    width: fit-content;
    border: 1px solid #42484d;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    animation: grow 0.3s ease-in-out forwards;
  }

  .messageBoxOut {
    padding: 10px;
    text-align: center;
    display: flex;
    background-color: transparent;
    width: fit-content;
    border: 1px solid #42484d;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    animation: shrink 0.3s ease-in-out forwards;
  }
}

@keyframes grow {
  from {
    transform: scale(0.9);
    opacity: 0.5;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes shrink {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.9);
    opacity: 0.5;
  }
}
