.wrapper {
  display: grid;
  grid-template-columns: 350px 1fr;
  position: absolute;
  height: 100%;
  width: 100%;

  .searchArea {
    display: flex;
    flex-direction: column;
    grid-template-rows: auto;

    background-color: #111722;
    color: white;
    h2 {
      text-align: center;
      margin-top: 50px;
    }
  }

  .sidePanel {
    display: flex;
    overflow: hidden;
  }
}
.currentFoodDisplayArea {
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
  display: flex;
  flex-grow: 1;
  height: 50%;
}

.searchBarWrapper {
  height: 50%;
}
