.button {
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 50px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &.primary {
    background-color: #5c913b;

    &:hover {
      background-color: #4a7a2e;
    }
  }
  &.secondary {
    background-color: #dd2e44;

    &:hover {
      background-color: #b63546;
    }
  }

  &.font-small {
    font-size: 0.8rem;
  }
  &.font-medium {
    font-size: 1rem;
  }
  &.font-large {
    font-size: 1.5rem;
  }
}
