.wrapper {
  position: relative;
  height: 1.5rem;
  border: solid 1px #42484d;
  border-radius: 999px;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
  font-weight: 600;
  font-size: 1.1rem;
  color: white;
}

.fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #5c913b;
  border-radius: 999px;
  transition: width 0.4s ease;
  z-index: 1;
}

.label {
  font-size: 0.9rem;
  z-index: 2;
  color: #fff;
  font-weight: 600;
}

.goalText {
  font-weight: 400;
  position: relative;
  z-index: 2;
  margin-left: auto;
  color: white;
  font-size: 0.9rem;
}
