.searchWrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 30px auto;
  background-color: #ffffff;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.2);
  overflow: hidden;
}

.searchBar {
  padding: 12px 20px;
  border: none;
  outline: none;
  width: 100%;
  font-size: 16px;
  background-color: transparent;
}

.list {
  background-color: #ffffff;
  width: 100%;
  max-height: 250px;
  overflow-y: scroll;

  z-index: 2;

  &::-webkit-scrollbar {
    display: none;
  }

  li {
    list-style: none;
    color: #3c4043;
    padding: 10px 20px;
    font-size: 14px;
    border-top: 1px solid #f0f0f0;

    &:hover {
      background-color: #f0f0f0;
      cursor: pointer;
    }
  }
}

@media (max-width: 1800px) {
  .list {
    max-height: 180px;
  }
}

@media (max-width: 1600px) {
  .list {
    max-height: 150px;
  }
}

@media (max-width: 1200px) {
  .list {
    max-height: 70px;
  }
}

@media (max-width: 900px) {
  .list {
    max-height: 40px;
  }
}
