.wrapper {
  display: grid;
  grid-template-columns: 350px 1fr;
  position: absolute;
  height: 100%;
  width: 100%;

  .searchArea {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111722;
    color: white;
  }

  .sidePanel {
    display: flex;
    overflow: hidden;
  }
}
