.wrapper {
  display: grid;
  grid-template-columns: 350px 1fr;
  position: absolute;
  height: 100%;
  width: 100%;

  .searchArea {
    display: flex;
    flex-direction: column;
    grid-template-rows: auto;

    background-color: #111722;
    color: white;
    h2 {
      text-align: center;
      margin-top: 50px;
    }
  }

  .sidePanel {
    display: flex;
    overflow: hidden;
  }
}
.currentFoodDisplayArea {
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: end;
  display: flex;
  flex-grow: 1;
  height: 50%;
}

.foodCard {
  background-color: #172030;
  border: 1px solid #42484d;
  border-bottom: none;
  // border-left: none;
  border-radius: 20px 20px 0 0;
  color: #ffffff;
  padding: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
  animation: slideUp 500ms ease-in-out;
  max-height: 300px;

  .infoRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .controls {
      gap: 5px;
      display: flex;
      input {
        text-align: center;
        width: 50px;
        border: none;
        border-radius: 5px;
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }
      button {
        cursor: pointer;
        width: 100%;
        border: none;
        background-color: #5c913b;
        color: #fff;
        font-weight: 600;
        padding: 10px;
        border-radius: 5px;

        &:hover {
          background-color: #4a7a2e;
        }
      }
    }
  }
}

@keyframes slideUp {
  from {
    transform: translateY(300px);
  }
  to {
    transform: translateY(0);
  }
}

.foodName {
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 15px;
  border-bottom: 1px solid #42484d;
  padding-bottom: 10px;
}

.nutrientTagsContainer {
  display: flex;
  gap: 10px;

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    text-align: center;
    color: #ffffff;
    font-weight: 600;
    border: 1px solid #42484d;
    padding: 5px;
    border-radius: 5px;
  }
}

.searchBarWrapper {
  height: 50%;
}
